<!doctype html>
<html lang="en">
<link rel="stylesheet" href="base.css">

<head>
  <style>
    .group {
      background: #222;
      border-top: 5px solid #333;
      color: #ccc;
      font-weight: bold;
      position: absolute;
      bottom: 0;
      width: 100%;
      text-align: center;
    }
  </style>
</head>

<body>
  <!-- <style>
    .navbar {
      background-color: aquamarine;
    }
  </style> -->
</body>

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1>
    <meta http-equiv=" refresh" content="5">
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <title>{% block title %} {% endblock %} Recognition</title>
</head>
<!-- <style>
  .colorr-id {
    background-color: darkred;
  }
</style> -->

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="">AI</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <ul class="navbar-nav">
              <li><a class="dropdown-item" href="{{ url_for('Lists') }}">Look at List</a></li>
              <li><a class="dropdown-item" href="{{ url_for('add') }}">Add to List</a></li>
              <li><a class="dropdown-item" href="{{ url_for('detect') }}">Recognition</a></li>
            </ul>

      </div>
    </div>
  </nav>

  <div class="container">
    {% block content %} {% endblock %}
  </div>
  <footer>
    <div class="group">
      <p1> Trí Tuệ Nhân Tạo - AI <br>
        <p2> Thành viên Nhóm: <br>
          <p3><i> Vũ Trần Thành Công - 20110448 </i><br>
            <p4><i> Trương Minh Hiếu - 20110481 </i><br>
    </div>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
    crossorigin="anonymous"></script>
</body>

</html>