#navbar-nav>li>a {
    text-transform: uppercase;
}

#navbar-nav>li:hover>a,
#navbar-nav .dropdown-menu li:hover a {
    color: #000;
    background-color: #ccc;
}

#navbar-nav li:hover a {
    color: #000;
    background-color: #fff;

}

#navbar-nav .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 160px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}