* {
    font-family: "Play", sans-serif;
}

#nhd-div-2 h3.tde :after {
    content: "";
    width: 0;
    height: 0;
    border-top: 19px solid transparent;
    border-left: 15px solid #3498db;
    border-bottom: 19px solid transparent;
    border-right: 0 solid transparent;
    position: absolute;
    top: 0px;
    right: -15px;
}

#nhd-div-2 h3.tde span {
    background: #3498db;
    padding: 11px 20px 9px 20px;
    color: white;
    position: relative;
    display: inline-block;
    margin: 0;
}

#nhd-div-2 h3.tde {
    margin: 15px 0;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
}

#nhd-div-2 hr {
    margin: -34px 0px 54px 0px;
    border: 1px solid #3498db;
}